In [1]:
pwd

'c:\\Users\\abhis\\OneDrive\\Desktop\\mlAmazon'

In [2]:
import pandas as pd

In [3]:
ds = pd.read_csv("train.csv")

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249698 entries, 0 to 2249697
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   PRODUCT_ID       int64
 1   TITLE            object
 2   BULLET_POINTS    object
 3   DESCRIPTION      object
 4   PRODUCT_TYPE_ID  int64
 5   PRODUCT_LENGTH   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 103.0+ MB

In [5]:
ds.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [6]:
ds_test = pd.read_csv("test.csv")

# Product length prediction

Description : The goal is to develop a machine learning model that can predict the length dimension of a product. Product length is crucial for packaging and storing products efficiently in the warehouse. Moreover, in many cases, it is an important attribute that customers use to assess the product size before purchasing. However, measuring the length of a product manually can be time-consuming and error-prone, especially for large catalogs with millions of products.

Importing Dependencies :

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [8]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: matplotlib in c:\users\abhis\appdata\roaming\python\python310\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (1.23.1)
Requirement already satisfied: packaging>=20.0 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [10]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\abhis\appdata\roaming\python\python310\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from seaborn) (1.23.1)
Requirement already satisfied: pandas>=0.25 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from seaborn) (1.4.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from pandas>=0.25->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install sklearn

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3879098648.py, line 4)

In [12]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\abhis\appdata\roaming\python\python310\site-packages (1.7.5)
Requirement already satisfied: numpy in c:\users\abhis\appdata\roaming\python\python310\site-packages (from xgboost) (1.23.1)
Requirement already satisfied: scipy in c:\users\abhis\appdata\roaming\python\python310\site-packages (from xgboost) (1.10.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [14]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\abhis\appdata\roaming\python\python310\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.23.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abhis\appdata\roaming\python\python310\site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [16]:
ds.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [17]:
ds.shape

(2249698, 6)

In [18]:
#Checking for missing values
ds.isnull()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,False,False,False,True,False,False
1,False,False,False,True,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,True,True,False,False
...,...,...,...,...,...,...
2249693,False,False,False,True,False,False
2249694,False,False,False,False,False,False
2249695,False,False,False,False,False,False
2249696,False,False,True,True,False,False
2249697,False,False,False,False,False,False

In [ ]:
ds.isnull().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [ ]:
# Statistical Measeures of Dataset
ds.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  2.249698e+06     2.249698e+06    2.249698e+06
mean   1.499795e+06     4.000456e+03    4.071839e+03
std    8.661944e+05     3.966146e+03    1.351685e+06
min    1.000000e+00     0.000000e+00    1.000000e+00
25%    7.494795e+05     2.300000e+02    5.118110e+02
50%    1.499558e+06     2.916000e+03    6.630000e+02
75%    2.250664e+06     6.403000e+03    1.062992e+03
max    2.999999e+06     1.342000e+04    1.885801e+09

In [ ]:
#Correlation Data 
correlationData = ds.corr()
print(correlationData)

                 PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
PRODUCT_ID         1.000000         0.250576        0.000424
PRODUCT_TYPE_ID    0.250576         1.000000        0.000961
PRODUCT_LENGTH     0.000424         0.000961        1.000000

In [19]:
# Splitting the data and product length
X = ds.drop(['PRODUCT_LENGTH'],axis = 1)
Y = ds['PRODUCT_LENGTH']
print(X)
print(Y)

         PRODUCT_ID                                              TITLE  \
0           1925202  ArtzFolio Tulip Flowers Blackout Curtain for D...
1           2673191  Marks & Spencer Girls' Pyjama Sets T86_2561C_N...
2           2765088  PRIKNIK Horn Red Electric Air Horn Compressor ...
3           1594019  ALISHAH Women's Cotton Ankle Length Leggings C...
4            283658  The United Empire Loyalists: A Chronicle of th...
...             ...                                                ...
2249693     2422167  Nike Women's As W Ny Df Swsh Hn Kh Bra (CZ7610...
2249694     2766635  (3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...
2249695     1987786  Kangroo Sweep Movement Printed Wooden Wall Clo...
2249696     1165754  Electro Voice EKX-BRKT15 | Wall Mount Bracket ...
2249697     1072666  Skyjacker C7360SP Component Box For PN[C7360PK...

                                             BULLET_POINTS  \
0        [LUXURIOUS & APPEALING: Beautiful custom-made ...
1        [Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...
2        [Loud Dual Tone Trumpet Horn, Compatible With ...
3        [Made By 95%cotton and 5% Lycra which gives yo...
4                                                      NaN
...                                                    ...
2249693                               Material : Polyester
2249694  [❤ [Inspiration] Inspired by the Untitled Goos...
2249695  [Dial size: 12 inches in diameter,Big, clear r...
2249696                                                NaN
2249697  [Component Box For PN[C7360PK],4 in. Lift,Incl...

                                               DESCRIPTION  PRODUCT_TYPE_ID
0                                                      NaN             1650
1                                                      NaN             2755
2        Specifications: Color: Red, Material: Aluminiu...             7537
3        AISHAH Women's Lycra Cotton Ankel Leggings. Br...             2996
4                                                      NaN             6112
...                                                    ...              ...
2249693                                                NaN             3009
2249694  <p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...             3413
2249695  Wall Clocks Are Very Attractive In Looks And E...             1574
2249696                                                NaN              592
2249697  Skyjacker C7360SP Component Box For PN[C7360PK...             7367

[2249698 rows x 5 columns]
0          2125.980000
1           393.700000
2           748.031495
3           787.401574
4           598.424000
              ...
2249693    1181.100000
2249694     125.984252
2249695    1200.000000
2249696    2900.000000
2249697    2000.000000
Name: PRODUCT_LENGTH, Length: 2249698, dtype: float64

In [21]:
X.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112

In [22]:
Y.head()

0    2125.980000
1     393.700000
2     748.031495
3     787.401574
4     598.424000
Name: PRODUCT_LENGTH, dtype: float64

In [24]:
# Train the model X and Y

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
import pandas as pd